<h1>Payment</h1>
<form >
    <label for="name">Name </label>
    <input id="name" type="text" value="Max Mustermann"><br>
    <label for="cardNr">Credit Card Number </label>
    <input id="cardNr" value="123456"><br>
    <label for="expirationdate">Expires </label>
    <input id="expirationdate" type="text" value="12/25" placeholder="MM/YY"><br>
    <label for="securityNr">Security Number </label>
    <input id="securityNr" type="number" value="123" placeholder="123"><br>
    <button (click)="submit()" type="submit">Submit</button>
</form>
