.tm-paging-item {
    list-style: none;
    display: inline-block;
    border: 1px solid #2F956D;
    margin: 7px;
}

.tm-gallery-page {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  